.checkout{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: gray;
}
.checkout_left{
    position: relative;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    width:75%;
    background-color: white;
    margin-left: 15px;
}
.checkout_left h2{
    position: relative;
    padding-top: 20px;
    color:black;
    font-weight: 600;
    padding-left: 20px;
}
.delete_line{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.delete_line_left{
    width:95%;
    margin-left: 20px;
}
.delete_line_right{
    width:5%;
}
.checkout_right{
    height:150px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    width:20%;
    background-color: white;
    margin-left: 40px;
    margin-right: 15px;
}
.line{
    margin: 10px;
    border-bottom: 1px solid black;
}
